CONFIG_BOOTDELAY=1
CONFIG_AUTOBOOT_KEYED=y
CONFIG_AUTOBOOT_STOP_STR_ENABLE=y
CONFIG_AUTOBOOT_NEVER_TIMEOUT=y
CONFIG_AUTOBOOT_ENCRYPTION=y
CONFIG_CRYPT_PW=y
CONFIG_CRYPT_PW_SHA512=y
CONFIG_AUTOBOOT_STOP_STR_CRYPT="@@SULKA_UBOOT_PASSWORD@@"

CONFIG_UNLOCKING=y

# Disable external environments. Enable these as required, but avoid
# storing boot flow critical information to the external, writable
# environments and move what you can to the built-in environment.
CONFIG_ENV_IS_NOWHERE=y
# CONFIG_ENV_IS_IN_EEPROM is not set
# CONFIG_ENV_IS_IN_FAT is not set
# CONFIG_ENV_IS_IN_EXT4 is not set
# CONFIG_ENV_IS_IN_FLASH is not set
# CONFIG_ENV_IS_IN_MMC is not set
# CONFIG_ENV_IS_IN_MTD is not set
# CONFIG_ENV_IS_IN_NAND is not set
# CONFIG_ENV_IS_IN_NVRAM is not set
# CONFIG_ENV_IS_IN_ONENAND is not set
# CONFIG_ENV_IS_IN_SCSI is not set
# CONFIG_ENV_IS_IN_SPI_FLASH is not set
# CONFIG_ENV_IS_IN_REMOTE is not set

# Disable tools that may be dangerous. Enable if required, but consider
# what is the requirement for each command. Also, it is recommended to
# disable more commands than listed here if possible. Note that some
# configuration options may enable these commands.
# CONFIG_CMD_GO is not set
# CONFIG_CMD_BOOTI is not set
# CONFIG_CMD_BOOTEFI is not set
# CONFIG_CMD_BOOTZ is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_ABOOTIMG is noset
# CONFIG_CMD_ADTIMG is not set
# CONFIG_CMD_MEMORY is not set
# CONFIG_CMD_SMC is not set
# CONFIG_CMD_HVC is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_USB is not set
# CONFIG_USB_STORAGE is not set
# CONFIG_CMD_BOOTP is not set
# CONFIG_CMD_TFTPBOOT is not set
# CONFIG_CMD_TFTPSRV is not set
# CONFIG_CMD_REMOTEPROC is not set
# CONFIG_CMD_ICC is not set
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_I2C is not set
# CONFIG_CMD_SPI is not set
# CONFIG_CMD_DIAG is not set
# CONFIG_CMD_IRQ is not set
# CONFIG_CMD_BDI is not set

# The TFTP update features cannot work without tftpboot command and EFI
# loader relies on the existence of bootefi command, but the
# dependencies seem to be broken. Disable these manually.
# CONFIG_UPDATE_TFTP is not set
# CONFIG_DFU_TFTP is not set

# CONFIG_EFI_LOADER is not set
# CONFIG_BOOTMETH_EFILOADER is not set
